body{
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p{
  text-align: center;
  color: #8f8f8f;
}

/* title-imgage */
.title-imgage{
  transform: rotate(25deg);
  width: 60%;
}

/* downlaod-button */
.downlaod-button{
  margin: 8% 4% 4% 0;
}

#title{
  background-color: #FCD900;
  }

.container-fluid{
  padding: 12% 15% 2% 15%;
}

.nav-item{
  padding: 0 12px;
  font-size: 18px;
}

.navbar-brand{
  font-size: 2rem;
}

.icons{
  color: #F6F54D;
  padding-left: 130px;
  margin-bottom: 10px;
}

:hover.icons{
  color: #FFB72B;
}

#testimonials{
  text-align: center;
  background-color: #F6F54D;
  margin: 5% 0 0 0;
}

#press{
  background-color: #F6F54D;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 25px;
}


.testimonial-image{
  border-radius: 100%;
  width:15%;
  margin:3%;
}

.carousel-item{
  padding: 5%;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 2% 3%;
}

#cta{
  text-align: center;
  margin-bottom: 5%;
}

#footer{
  background-color: #FFCC1D;
  padding-bottom: 0;
  height: 120px;
}
